[db]
DB_HOST = localhost
DB_USER = root
DB_PASS = 123456
DB_NAME = anyun
DB_PORT = 3306

[env]
IS_DEBUG = True
IS_OPEN_SCREENSHOT = True
IS_CJY_DEBUG = True
POST_INTERVAL = 60

[cookie]
COOKIE_REFRESH_INTERVAL = 15
COOKIE_REFRESH_INTERVAL_NOPOST = 10
COOKIE_REFRESH_INTERVAL_THREAD = 20

[score]
NEWSMTH_COMMENT_INTERVAL = 60
NEWSMTH_COMMENT_GROUP_INTERVAL = 60
NEWSMTH_COMMENT_CONTENT = 写的很好

[proxyip]
PROXYIP_REFRESH_INTERVAL = 15
PROXYIP_CRAWL_INTERVAL = 360

[chaojiying]
CJY_USER = anyunocr
CJY_PASS = 1111111
CJY_SOFTID = 898611
